/* -----------reset default css----------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
}

/* ----------font-montserrat--------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

/* -----------variable-------------------- */
:root {
  --main-dark: #131313;
  --main-grey: rgb(90, 90, 90);
}
body {
  font-family: "Montserrat", sans-serif;
  background: var(--main-dark);
}
header {
  margin: 20px 10px;
  display: flex;
  height: 60px;
}
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
}
/* ------------------------search--------------------- */
.search-bar {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  border-radius: 2px;
  background-color: rgb(90, 90, 90);
  padding: 0 10px;
  color: white;
}
.search-bar ::placeholder {
  color: lightgrey;
}
.search-bar input {
  all: unset;
  text-align: left;
  padding: 5px;
}
.search-bar img {
  margin: 5px;
  width: 20px;
}

.product-list table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px 10px;
}

.product-list th,
.product-list td {
  padding: 10px 15px;
}

.product-list tr {
  color: white;
}
/* ------------------------------alternate background of rows------------------- */
.product-list tbody tr:nth-child(2n + 1) {
  background-color: #3a3a3a;
}

.product-list tbody tr:nth-child(2n) {
  background: var(--main-grey);
}

/* ----------------------------column width setting-------------------------- */
.product-list td:last-child,
.product-list th:last-child {
  text-align: right;
  width: 300px;
}
.product-list td:first-child,
.product-list th:first-child {
  text-align: left;
  width: 100px;
}
/* ----------------------------heading and last row setting */
thead tr,
tfoot tr {
  font-weight: 700;
  background-color: #222222;
}

.product-list-no-match p,
.product-list-no-data p {
  margin: 30px;
  color: white;
}
